body{
    background-color: #FFF2D0;
    font-family: Arial, Helvetica, sans-serif;
}

 h1{
    color: #E36A6A;
}

label{
    font-size: 30px;
    color: #E36A6A;
    
}
.caixas{
    width: 300px; 
    height: 20px;
    margin-bottom: 10px;
    background-color: #ffcaca;
    border-radius: 10px;
    height: 30px;
    border: transparent;
    padding-left: 2%;
}

.caixas:hover{
    border: solid 2px #ffcaca;
    background-color: #FFF2D0;
}


.botao{
    color: #E36A6A;
    border: solid 1px #E36A6A;
    background-color: #FFF2D0;
    border-radius: 10px;
    height: 30px;
    width: 320px;
    align-items: center;
}

.botao:hover{
    color: #FFF2D0;
    background-color: #E36A6A;
}

#resultado{
    font-family: arial;
    color: #E36A6A;
}